<<<<<<< HEAD
/*  Arquivo que sobrescreve oa folha de estilos do template.
    Este arquivo deve ser chamado no projeto logo após o arquivo style.css
    Toda nova classe deve ser implementada aqui e toda modificaçõa das classes
    padrão do tema també devem ser feitas aqui para preservar as características
    originais do tema no arquivo style.css.
*/

.modal-dialog-subscribed{
    width: 34vw;
    margin: 27vh auto;
}

@media screen and (max-width: 768px){
  .modal-dialog.modal-dialog-subscribed {
    width: 59vw;
    margin-top: 12vh;
  }

  button.btn.btn-lg.btn-default.btn-block {
    width: 13vw;
  }

  .footer{
    padding: 0px;
  }

  .slider {
    margin-top: -20px;
    margin-right: 0px;
    margin-left: 0px;
  }

}

@media screen and (max-width: 360px){
  .navbar-brand h1 {
      font-size: 15px;
  }

  .menu {
    width: 100%;
    padding-left: 17vw;
  }

  .navbar-collapse.collapse.in {
    margin: 0;
  }

  button.btn.btn-lg.btn-default.btn-block {
    width: 27vw;
  }

  .navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #333;
  }

  .navbar-header{
    margin-right: 0vw;
    margin-left: -3vw;
  }
}

=======
>>>>>>> sprint_11
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
<<<<<<< HEAD
  font-family: Raleway;
=======
>>>>>>> sprint_11
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
<<<<<<< HEAD
  font-family: Raleway;
=======
>>>>>>> sprint_11
  border: 1px solid #aaaaaa;
  color: #151515;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
<<<<<<< HEAD
=======
  background-color: #4CAF50;
>>>>>>> sprint_11
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
<<<<<<< HEAD
  font-family: Raleway;
=======
>>>>>>> sprint_11
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}